@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <img src="~/assets/img/logo.png" />
    <h1 class="display-4">Welcome To Retailer</h1>
    <button class="btn btn-primary rounded-pill">Create Order</button>
    <button class="btn btn-info rounded-pill">Add Customer</button>
</div>
